scripts/generate_gmp_pow10
scripts/generate_gmp_pow10_test
scripts/test_gmp

venv/
build/
install/
extra/gmp/gmp-6.3.0/
extra/gtest/googletest-1.14.0/
extra/benchmark/benchmark-1.8.2/
compile_commands.json
.vscode
.clangd
